<h2>Template Driven Form (Angular defined model)</h2>

<form #newElectorForm="ngForm">
    <div class="form-item">
        <label for="forename">Forename:</label>
        <input type="text" id="forename" name="forename" ngModel />
    </div>

    <div class="form-item">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" ngModel />
    </div>
    
    <div class="form-item">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" ngModel />
    </div>

    <div ngModelGroup="address">
        <div class="form-item">
            <label for="addressLine1">Address line 1:</label>
            <input type="text" id="addressLine1" name="addressLine1" ngModel>
        </div>
        <div class="form-item">
            <label for="addressLine2">Address line 2:</label>
            <input type="text" id="addressLine2" name="addressLine2" ngModel>
        </div>
        <div class="form-item">
            <label for="addressLine3">Address line 3:</label>
            <input type="text" id="addressLine3" name="addressLine3" ngModel>
        </div>
        <div class="form-item">
            <label for="addressLine4">Address line 4:</label>
            <input type="text" id="addressLine4" name="addressLine4" ngModel>
        </div>
        <div class="form-item">
            <label for="addressLine5">Address line 5:</label>
            <input type="text" id="addressLine5" name="addressLine5" ngModel>
        </div>
        <div class="form-item">
            <label for="addressLine6">Address line 6:</label>
            <input type="text" id="addressLine6" name="addressLine6" ngModel>
        </div>
        <div class="form-item">
            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode" ngModel>
        </div>
    </div>

    <div class="form-item">
        <label for="nationality">Nationality:</label>
        <select name="nationality" id="nationality" ngModel>
            <option *ngFor="let nationality of Nationalities" [ngValue]="nationality.Code">{{nationality.Description}}</option>
        </select>
    </div>

    <fieldset class="form-item">
        <legend>Request absent vote:</legend>
        <div class="form-item">
            <label for="requestAVNone">None:</label>
            <input type="radio" id="requestAVNone" name="requestPostalVote" value="None" ngModel />
        </div>
        <div class="form-item">
            <label for="requestAVPostal">Postal:</label>
            <input type="radio" id="requestAVPostal" name="requestPostalVote" value="Postal" ngModel />
        </div>
        <div class="form-item">
            <label for="requestAVProxy">Proxy:</label>
            <input type="radio" id="requestAVProxy" name="requestPostalVote" value="Proxy" ngModel />
        </div>
        <div class="form-item">
            <label for="requestAVPostalProxy">Postal Proxy:</label>
            <input type="radio" id="requestAVPostalProxy" name="requestPostalVote" value="PostalProxy" ngModel />
        </div>
    </fieldset>
    
    <div class="form-item">
        <label for="optOut">Opt out of public register:</label>
        <input type="checkbox" id="optOut" name="optOut" ngModel />
    </div>
    
    <button type="submit">Submit</button>

    <pre class="code">
{{ newElectorForm.value | json}}
    </pre>
</form>